{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
    <script>
    function github_link (link_type) {
        var github_base = "https://raw.githubusercontent.com/dchud/data.onebiglibrary.net/master/content/";
        if(link_type == 'edit') {
            github_base = "https://github.com/dchud/data.onebiglibrary.net/edit/master/content/";
        }
        var path = "{{ article }}";
        var path_segments = path.split('/');
        var basename = path_segments[path_segments.length-1];
        var href = github_base + basename ;
        return href;
    }
    </script>
    <article>
        <header>
            <h2>{{ article.title}}</h2>
            <p class='small'>
                Published {{ article.date.strftime('%x') }}
                <i class='fa fa-angle-right'></i>
                <a href='javascript:open(github_link("view"));' alt='view source' title='view source'><i class='fa fa-file-text-o fa-lg'></i></a>
                <i class='fa fa-angle-right'></i>
                <a href='javascript:open(github_link("edit"));' alt='edit in github' title='edit in github'><i class='fa fa-pencil fa-lg'></i></a>
            </p>
        </header>
        <div class="entry-content">
        {{ article.content }}
        </div><!-- /.entry-content -->
    </article>

<hr>
{% for a in articles %}
    {% if a == article %}
        <h4>
        {% if not loop.last %}
        {% set loop_prev = loop.index0 + 1 %}
        {% set prev_article = articles[loop_prev] %}
        <span class='pull-left'>
            <i class='fa fa-angle-left fa-lg'></i>
            <em class='small'>previous</em>
            <a href="{{ SITEURL }}/{{ prev_article.url }}">{{ prev_article.title }}</a>
        </span>
        {% endif %}

        {% if not loop.first %}
        {% set loop_next = loop.index0 - 1 %}
        {% set next_article = articles[loop_next] %}
        <span class='pull-right'>
            <a href="{{ SITEURL }}/{{ next_article.url }}">{{ next_article.title }}</a>
            <em class='small'>next</em>
            <i class='fa fa-angle-right fa-lg'></i>
        </span>
        {% endif %}
        </h4>
    {% endif %}
{% endfor %}

</section>

{% endblock %}
